
<!-- <div class="ui pink three item inverted menu">
  <%= link_to "Home", root_path, class: "item" %>
  <%= link_to "About", about_path, class: "item" %>
  <%= link_to "Billboards", boards_path, class: "item" %>
</div>-->

<div class="ui teal three item inverted menu">
  <%= link_to "Home", root_path, class: "item" %>
  <%= link_to "Billboards", boards_path, class: "item" %>
  <%= link_to "About", about_path, class: "item" %>
</div>